Infra/stepfunction.json
{
  "Comment": "Step Function para processar mensagens SQS via EventBridge Pipes",
  "StartAt": "ChamarPrimeiraLambda",
  "States": {
    "ChamarPrimeiraLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGIÃO:ID_DA_CONTA:function:NomeDaPrimeiraLambda",
      "InputPath": "$",
      "ResultPath": "$.PrimeiraLambdaResultado",
      "Next": "VerificarPrimeiraLambda",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "EnviarParaDLQ"
        }
      ]
    },
    "VerificarPrimeiraLambda": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.PrimeiraLambdaResultado.status",
          "StringEquals": "success",
          "Next": "ChamarSegundaLambda"
        }
      ],
      "Default": "EnviarParaDLQ"
    },
    "ChamarSegundaLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGIÃO:ID_DA_CONTA:function:NomeDaSegundaLambda",
      "InputPath": "$",
      "ResultPath": "$.SegundaLambdaResultado",
      "Next": "VerificarSegundaLambda",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "EnviarParaDLQ"
        }
      ]
    },
    "VerificarSegundaLambda": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SegundaLambdaResultado.status",
          "StringEquals": "success",
          "Next": "EncerrarExecucao"
        }
      ],
      "Default": "EnviarParaDLQ"
    },
    "EncerrarExecucao": {
      "Type": "Succeed"
    },
    "EnviarParaDLQ": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.REGIAO.amazonaws.com/ID_DA_CONTA/MinhaFilaDLQ",
        "MessageBody.$": "$"
      },
      "End": true
    }
  }
}
