Infra/stepfunction.json
{
  "Comment": "Step Function que processa uma mensagem SQS e invoca duas funções Lambda sequencialmente.",
  "StartAt": "ReceberMensagemSQS",
  "States": {
    "ReceberMensagemSQS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sqs:receiveMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/702630152734/fila-teste",
        "MaxNumberOfMessages": 1,
        "WaitTimeSeconds": 10
      },
      "ResultPath": "$.MensagemSQS",
      "Next": "VerificarMensagemRecebida"
    },
    "VerificarMensagemRecebida": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.MensagemSQS.Messages[0]",
          "IsPresent": true,
          "Next": "PrimeiraFuncaoLambda"
        }
      ],
      "Default": "FimSemMensagem"
    },
    "PrimeiraFuncaoLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:702630152734:function:your-function-name",
      "InputPath": "$.MensagemSQS.Messages[0].Body",
      "ResultPath": "$.ResultadoPrimeiraFuncao",
      "Next": "VerificarResultadoPrimeiraFuncao"
    },
    "VerificarResultadoPrimeiraFuncao": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ResultadoPrimeiraFuncao.Resultado",
          "StringEquals": "positivo",
          "Next": "SegundaFuncaoLambda"
        }
      ],
      "Default": "FimResultadoNegativo"
    },
    "SegundaFuncaoLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:702630152734:function:your-function-name",
      "InputPath": "$.ResultadoPrimeiraFuncao",
      "ResultPath": "$.ResultadoSegundaFuncao",
      "Next": "VerificarResultadoSegundaFuncao"
    },
    "VerificarResultadoSegundaFuncao": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ResultadoSegundaFuncao.Resultado",
          "StringEquals": "positivo",
          "Next": "ConcluirComSucesso"
        }
      ],
      "Default": "FimResultadoNegativo"
    },
    "ConcluirComSucesso": {
      "Type": "Succeed"
    },
    "FimSemMensagem": {
      "Type": "Fail",
      "Cause": "Nenhuma mensagem recebida da fila SQS."
    },
    "FimResultadoNegativo": {
      "Type": "Fail",
      "Cause": "O resultado da função Lambda foi negativo."
    }
  }
}
